
body {
  font-family: 'Baloo Da 2', cursive;
  background-color: #e8e8e8;
}

.contenedor {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 1px 6px 2px #75828c;
}

.h3-titulo {
  color: red;
}

input {
  border: 1px solid gray;
  border-radius: 5px;
}

.btn {
  border-radius: 4px;
  border: 1px solid gray;
  background: linear-gradient(to right, #f5f5f5, #dcdcdc);
}

.btn:hover {
  box-shadow: 1px 3px 3px gray;
}

.btn.btn-principal {
  background: linear-gradient(to right, #e3798c, #a90724);
}


