/** tag */
label {
  color: red;
  background-color: #ffffff;
}

input {
  color: red;
}

/**:focus :hover pseudo classes */
input:focus {
  background-color: aquamarine;
}

/** class */
.my-input {
  background-color: beige;
}

.form-group {
  border: 1px solid gray;
}

.form-group label {
  color: green;
}

.red-with-border {
  background: red;
  color: white;
  border: 1px solid blue;
}

.hobbies {
  color: purple;
}

.hobbies label {
  color: orange;
}

.hobbies label:hover {
  color: red;
}

/** id  es unico*/
#lastname {
  color: purple;
}

.resultado {
  display: none;
}

.resultado.show {
  display: block;
}