:root {
  --gris: rgb(100, 4, 4);
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
}

.contenedor {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 50px;
  width: 100%;
  background: #d0f789;
  margin: 0px;
}

header h4 {
  height: 20px;
}

.fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fotos .fotos-contenedor {
  width: 60px;
  border: 1px solid var(--gris);
  margin: 10px;
  box-shadow: 2px 2px 5px grey;
  position: relative;
}

.fotos .fotos-contenedor:hover {
  top: 2px;
}

.fotos-contenedor img {
  width: 50px;
  margin: 5px;
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  .fotos {
    flex-direction: column;
  }

  .fotos .fotos-contenedor {
    width: 100%;
  }

  .fotos-contenedor img {
    width: 90%;
  }
}



