/** 

  style.css

  Colors

  Black: #000000;
  Darker gray: #222222;
  Dark gray: #333333;
  Gray: #444444;
  Light gray: #eeeeee;
  Light blue: #00c0ff;
  Dark blue: #0090bf;

*/

/*------------------------
  General Styles
  -----------------------*/

  html {
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizelegibility;
   }

  body {
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 20px
    color: #444444;

  }

  /*------------------------
  Typography
  -----------------------*/

  h1, h2, h3 {
    font-weight: 300;
    margin: 0;
    line-height: 45px;
  }

  h4, h5, h6 {
    font-weight: bold;
    margin: 5px 0 5px 0;
    }

  h1 {
    font-size: 48px;
    }

  h2 {
    font-size: 24px;
      }

  h3 {
      font-size: 30px;
      }

  h4 {
    font-size: 18px;
    margin: 10px 0;
      }

  h5 {
    font-size: 13px;
    margin 0;
    text-transform: uppercase;
    }

  p {
    margin: 0 0 10px 0;
    }

p.lead {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
  /*------------------------
  Layout
  -----------------------*/
  .container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
  }

  header {
    background: #000000;
  }
  #logo {
    display: block;
    padding: 22px 0 16px 5px;
    float: left;

  }
  #hero {
    background: #00c0ff;
    color: #000;

  }

  #hero-title {
    width: 520px;
    padding: 60px 0;
    float: left;
  }

#call-to-action {
  margin: 48px 0;
}

  #hero-image {
    float: right;
    margin: 10px 0 -38px 0;
  }
  /*------------------------
    Navigation
  -----------------------*/
  nav ul {
    margin: 0;
    padding: 0;
    float: right;
  }

  nav ul li {
    list-style: none;
    float: left;

  } 

  header nav ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 28px;
    border-left: solid 1px #333

  }

  header nav ul li a:hover{
    background: #222;
  }

   header nav ul li a:active{
    -webkit-box-shadow; 0 0 5px rgba(0, 0, 0, 0.0) inset;
       -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.0) inset;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.0) inset;
  }

  /*------------------------
    Buttons
  -----------------------*/

  .btn {
    width: auto;
    background: #0090bf;
    border: 1px solid #1e728c;
    color: white;
    cursor: pointer;
    display: inline-block;

    /*IE7 inline-block fix */
    zoom 1;
    *display: inline;

    margin: 0;
    outline: none;
    padding: 11px 28px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;

    /*fancy box shadows*/
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
       -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

    /*css3 transition*/
    -webkit-box-shadow: background-color 0.15s ease-in-out;
       -moz-box-shadow: background-color 0.15s ease-in-out;
         -o-box-shadow: background-color 0.15s ease-in-out;
            box-shadow: background-color 0.15s ease-in-out;
  }

  .btn:hover {
    color: white;
    background-color: #0086b2
  }

  .btn:active {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
       -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    color: white;
  }

  .btn-large {
    padding: 22px 30px;
    font-size: 24px;
    font-weight: 200;
  }

  .btn-secondary {
    font-size: 20px;
  }

  .btn-secondary:hover {
    text-decoration: underline;
  }

  .btn-secondary:active {
    position: relative;
    top: 1px;
  }

  .btn-secondary, .btn-secondary:hover, .btn-seondary:active{
    background: none;
    border: none;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
  }
  /*------------------------
    Global Styles
  -----------------------*/
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    zoom: 1;/* For IE6/7 (trigger hasLayout) */
  }






